# Question 1
Consider the following Python module:

In [2]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()
b()
b()
a

6

We set the value of the variable 'a' (global) to zero, inside the function b we called the global 'a' (zero), then we set the value of 'a' to the function c(a), at this point the value of 'a' is still equal to zero. And then we go through the function c(a) which returns a+2 (in this case 0+2), so the value of 'a' is now 2. We call function b for a second time so the value of 'a' becomes 2+2, and then a third time (4+2)

### Question 2 
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [49]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print('File {} is not found'.format(file_name))

In [50]:
file_length('bloodtype1.txt')

102

In [51]:
file_length ('midterm.py')

File midterm.py is not found

# Question 3 
Write a class named Marsupial that can be used as shown below:

In [51]:
class Marsupial:
    def __init__(self, initial = []):
        self.list = initial
    def put_in_pouch (self, item):
        return self.list.append(item)
    def pouch_contents(self):
        return self.list

In [52]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis

c. overloads the __str__ operator so it behaves as shown below.

In [55]:
class Kangaroo(Marsupial):
    def __init__(self, xcoord, ycoord,start = []):
        self.list = start
        self.x = xcoord
        self.y = ycoord
    def jump (self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [56]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [41]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch ('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [57]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0) 
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
      3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [104]:
def collatz(x):
    if x <= 1:
        return(1)
    else:
        print(x)
    if (x % 2 == 0):
        x = int(x/2)
        collatz(x)
    else:
        x = (3*x) + 1
        collatz(x)

In [105]:
collatz(1)

1

In [106]:
collatz(10)

10
5
16
8
4
2

# Question 5 
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [58]:
def binary(n):
    if n < 0:
        return 0
    else:
        print(bin(n)[2:])

In [59]:
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

# Question 8
Write SQL queries on the below database table that return:

In [3]:
import sqlite3
con = sqlite3.connect('web.db',timeout=100)
cur = con.cursor()
cur.execute ("CREATE TABLE Temp (City text, Country text, Season text, Temperature float, Rainfall float)")
record1 = ('Mumbai','India','Winter',24.8,5.9)
record2 = ('Mumbai','India','Spring',28.4,16.2)
record3 = ('Mumbai','India','Summer',27.9,1549.4)
record4 = ('Mumbai','India','Fall',27.6,346.0)
record5 = ('London','United Kingdom','Winter',4.2,207.7)
record6 = ('London','United Kingdom','Spring',8.3,169.6)
record7 = ('London','United Kingdom','Summer',15.7,157.0)
record8 = ('London','United Kingdom','Fall',10.4,218.5)
record9 = ('Cairo','Egypt','Winter',13.6,16.5)
record10 = ('Cairo','Egypt','Spring',20.7,6.5)
record11 = ('Cairo','Egypt','Summer',27.7,0.1)
record12 = ('Cairo','Egypt','Fall',22.2,4.5)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record1)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record2)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record3)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record4)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record5)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record6)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record7)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record8)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record9)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record10)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record11)
cur.execute ('INSERT INTO Temp VALUES (?,?,?,?,?)',record12)
print(cur.fetchall())

[]

a) All the temperature data

In [4]:
cur.execute('SELECT Temperature FROM Temp')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition

In [5]:
cur.execute('Select DISTINCT City FROM Temp')
print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India

In [8]:
word = 'India'
cur.execute('SELECT * FROM Temp WHERE Country = ?',(word,))
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records

In [9]:
season = 'Fall'
cur.execute('Select * FROM Temp WHERE Season = ?',(season,))
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [70]:
cur.execute('SELECT City, Country, Season, Rainfall FROM Temp GROUP BY Rainfall HAVING AVG(Rainfall) BETWEEN 200 AND 400')
cur.fetchall()

[('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5),
 ('Mumbai', 'India', 'Fall', 346.0)]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [68]:
cur.execute('SELECT City, Country, Temperature FROM Temp GROUP BY Temperature HAVING Season = ? AND Avg(Temperature)>20 ORDER BY Temperature',(season,))
cur.fetchall()

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

g) The total annual rainfall for Cairo

In [72]:
word1 = 'Cairo'
cur.execute('SELECT City, SUM(Rainfall) FROM Temp WHERE City = ?',(word1,))
cur.fetchall()

[('Cairo', 27.6)]

h) The total rainfall for each season

In [71]:
cur.execute('SELECT Season, SUM(Rainfall) FROM Temp GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9
Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [81]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [82]:
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [83]:
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [84]:
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [96]:
print([[word.upper(),word.lower(),len(word)] for word in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [86]:
[word for word in words if len(word)>=4]

['quick', 'brown', 'jumps', 'over', 'lazy']